@import './base.css';

#app {
  height: 100vh;
  font-weight: normal;
}

.container{
  overflow-x: hidden;

}
nav {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

a,
.brown {
  font-size: 4vh;
  color: rgb(155, 98, 46);
  transition: 0.4s;
  padding: 1vh;
  width: 32%;
}

@media (hover: hover) {
  a:hover {
    background-color: white;
    padding: 1vh;
    }
}

