@import './base.css';

#app {
  height: 100vh;
  font-weight: normal;
}

.container{
  overflow-x: hidden;

}
nav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

a,
.brown {
  font-size: 5vh;
  color: rgb(229, 206, 183);
  transition: 0.4s;
  padding: 1vh;
  width: 32%;
  font-family: 'Caveat', cursive;
font-family: 'Fredericka the Great', cursive;
}

@media (hover: hover) {
  a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 1vh;
    }
}

